.hoverr:hover{
  color: red;
  font-weight: bold;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: #fff;
  background-color: #fff;
  color: #212121;
  padding: 12px 25px ;
  font-size: 16px;
  border-radius: 30px;
  text-decoration: none;
  border:0;
  outline: 0;
  cursor: pointer;
}
.btn.d-btn{
  background: #212ea0;
  color: #fff;
}
.menu-icon{
  display: none;
}
.hide-menu-icon{
  position: absolute;
  right: -200px;
}
@media (max-width:1000px){
  .container{
    padding-left: 5%;
    padding-right: 5%;

  }
  .btn{
    padding: 14px 22px;
  }
}

@media (max-width:920px){
  nav{
    padding: 15px 0;
    
  }
  nav ul{
    position: fixed;
    top: 0;
    right: -200px;
    background: #212ea0;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    bottom: 0;

  }
  .menu-icon{
    display: block;
    cursor: pointer;
   
  }
  
  
}
@media (max-width:1000px){
  .d-navbar{
      background:transparent;
    }
  }
  